/* 🔥 Custom Scrollbar */
@import "tailwindcss";

:root {
    --font-playfair: "Playfair Display", serif;
    --font-spline: "Spline Sans", sans-serif;
    --font-inter: "Inter", sans-serif;
}

body {
    font-family: var(--font-inter);
}

.font-playfair {
    font-family: var(--font-playfair);
}

.font-inter {
    font-family: var(--font-inter);
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #4b5563;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #9ca3af;
}

/* Firefox */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #4b5563 transparent;
    scrollbar-gutter: stable;
}