@import "tailwindcss";

:root {
  --font-playfair: "Playfair Display", serif;
  --font-spline: "Spline Sans", sans-serif;
  --font-inter: "Inter", sans-serif;
}

body {
  font-family: var(--font-inter);
}
.font-playfair {
  font-family: var(--font-playfair);
}
.font-inter{
  font-family: var(--font-inter);
}
.closeBtn{
    color: #da3036;
    background: #da303617;
    border-radius: 6px;
    font-size: 18px;
    padding: 3px;

}